<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.willian.coding.redis.dao.UserDao">
    <resultMap id="UserMap" type="cn.willian.coding.redis.domain.User">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="USER_COLUMN">
        id,
        phone,
        user_name,
        password,
        created_time,
        updated_time
    </sql>

    <select id="getByPhone" resultMap="UserMap">
        select
        <include refid="USER_COLUMN"/>
        from user
        where phone = #{phone,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="cn.willian.coding.redis.domain.User" keyProperty="id" useGeneratedKeys="true">
        insert into user(phone, user_name,password)
        values (#{password,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
    </insert>
</mapper>

