<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.willian.coding.seata.goods.dao.GoodsMapper">
    <resultMap id="Base_Result_Map" type="cn.willian.coding.seata.goods.domain.Goods">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="goods_type" property="goodsType" jdbcType="TINYINT"/>
        <id column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <id column="goods_price" property="goodsPrice" jdbcType="DECIMAL"/>
        <id column="goods_inventory" property="goodsInventory" jdbcType="INTEGER"/>
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        goods_type,
        goods_name,
        goods_price,
        goods_inventory,
        create_time,
        update_time
    </sql>

    <select id="selectByIds" resultMap="Base_Result_Map">
        select
        <include refid="Base_Column_List"/>
        from goods where id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>
</mapper>